@using Newtonsoft.Json
@using ProjectSazan.Domain
@using ProjectSazan.Domain.Philately
@model IPhilatelicCollection

@functions{
    public object GetDisplayItems(IEnumerable<PhilatelicItem> items)
    {
        if (items == null) return new List<object>();

        var abbr = new CatalogueAbbreviations();
        var symbols = new CurrencySymbols();

        return items.Select(item => new
        {
            item.Id,
            TargetId = $"#{item.Id}",
            item.Year,
            item.CatalogueReference.Area,
            Catalogue = abbr[item.CatalogueReference.Catalogue],
            item.CatalogueReference.Number,
            item.Description,
            item.Scans,
            Acquired = item.Acquired.ToString("dd MMM yyyy"),
            Price = $"{symbols[item.Paid.Currency]}{item.Paid.Figure}"
        });
    }
}

@{
    ViewData["Title"] = Model.Title;
    var displayItems = GetDisplayItems(Model.Items);
    var items = JsonConvert.SerializeObject(displayItems);
}

<h2>@Model.Title</h2>
<div class="row">
    <div class="col-md-12"><a asp-controller="philately" asp-action="addItem">[+] add item</a></div>
</div>
<hr />
<table id="collection-items" class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-6"></th>
            <th class="col-md-2">Acquired</th>
            <th class="col-md-2">Paid</th>
            <th class="col-md-2"></th>

        </tr>
    </thead>
    <tbody>
        <tr v-for="item in items">
            <td class="col-md-8">
                <div>{{item.Year}},{{item.Area}} {{item.Description}} ({{item.Catalogue}} {{item.Number}})</div>
                <div :id="item.Id" class="collapse" >
                    <div v-for="scan in item.Scans" class="float-left scan-box">
                        <figure>
                            <img :src="scan.Image" :alt="scan.Caption" class="scan-image" />
                            <figcaption>{{scan.Caption}}</figcaption>
                        </figure>
                    </div>                    
                </div>
            </td>
            <td class="col-md-2">{{item.Acquired}}</td>
            <td class="col-md-2">{{item.Price}}</td>
            <td class="col-md-2"><a data-toggle="collapse" :data-target="item.TargetId" href="#">scans</a></td>
        </tr>
    </tbody>
</table>


@section Scripts{
    <script src="https://unpkg.com/vue"></script>
    <script>

		var app = new Vue({
			el: '#collection-items',
			data: {
					items: @Html.Raw(items)
				  }
		});
    </script>
}
