
@{
    ViewData["Title"] = "Collection";
}

<h2>Collection</h2>
<div class="row">
    <div class="col-md-12"><a asp-controller="philately" asp-action="addItem">[+] add item</a></div>
</div>
<hr />
<div class="row">
    <div class="col-md-8"> Item 1</div>
    <div class="col-md-4">details</div>
</div>

