@using Newtonsoft.Json
@model IEnumerable<string>


@{
    ViewData["Title"] = "[Collector] collections";
	var collections = JsonConvert.SerializeObject(Model);
}

<h3>Collections</h3>
<div class="row">
    <div class="col-md-12"><a asp-controller="philately" asp-action="addCollection">[+] add collection</a></div>
</div>
<hr />
<div id="collection-list" class="row">
	<ul>
		<li v-for="coll in collections"><a asp-area="" asp-controller="philately" asp-action="collection" asp-route-id="MedIslands">{{coll}}</a></li>		
	</ul>
</div>

@section Scripts{
	<script src="https://unpkg.com/vue"></script>
	<script>
		var result = {
			collections:	@Html.Raw(collections)			
		};

		var app = new Vue({
			el: '#collection-list',
			data: result
		});

	</script>
}


