
@{
    ViewData["Title"] = "[Collector] collections";
}

<h3>Collections</h3>
<ul>
    <li><a asp-area="" asp-controller="philately" asp-action="collection" asp-route-id="MedIslands">Italian Islands of the Mediterranean</a></li>
    <li><a asp-area="" asp-controller="philately" asp-action="collection" asp-route-id="dalmatia">Dalmatia</a></li>
</ul>



