@using Newtonsoft.Json
@using System.Linq
@using ProjectSazan.Domain.Philately
@model IEnumerable<PhilatelicCollection>


@{
    ViewData["Title"] = "[Collector] collections";
    var collections = Model.Select(x => new { id = x.Id, title = x.Title });
}

<h3>Collections</h3>
<div class="row">
    <div class="col-md-12"><a asp-controller="philately" asp-action="addCollection">[+] add collection</a></div>
</div>
<hr />
@{ var url = 123;}
<div id="collection-list" class="row">
	<ul>
        @foreach (var coll in collections)
        {
            <li v-for="coll in collections"><a asp-area="" asp-controller="philately" asp-action="collection" asp-route-id="@coll.id">@coll.title</a></li>
        }				
	</ul>
</div>


