
@{
    ViewData["Title"] = "[Collector] collections";
}

<h3>Collections</h3>
<div class="row">
    <div class="col-md-12"><a asp-controller="philately" asp-action="addCollection">[+] add collection</a></div>
</div>
<hr />
<ul>
    <li><a asp-area="" asp-controller="philately" asp-action="collection" asp-route-id="MedIslands">Italian Islands of the Mediterranean</a></li>
    <li><a asp-area="" asp-controller="philately" asp-action="collection" asp-route-id="dalmatia">Dalmatia</a></li>
</ul>



